---
http_interactions:
- request:
    method: post
    uri: https://api.sendgrid.com/v3/mail/send
    body:
      encoding: UTF-8
      string: '{"from":{"email":"angelbreaux@hotmail.com"},"subject":"BDAY BASH","personalizations":[{"to":[{"email":"doug.welchons@gmail.com"}]}],"content":[{"type":"text/plain","value":"You
        are Invited to my party!"}]}'
    headers:
      Authorization:
      - Bearer sendgrid_api_key
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      X-Message-Id:
      - RCx9-7-VQWCcyQQI_k1AIw
      X-No-Cors-Reason:
      - https://sendgrid.com/docs/Classroom/Basics/API/cors.html
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 18 Apr 2021 19:50:40 GMT
recorded_with: VCR 6.0.0
